body { background-color: BDAD87;}
   body {font-family: 'Roboto', sans-serif; color: #000000;}
   td.main {font-family: 'Roboto', sans-serif; font-size: 10pt; font-weight: 500; color: #000000;}
   a.linkmain {font-family: 'Roboto', sans-serif;font-size: 10pt; font-weight: 500; color: #000000; }
   a.linkhuman {font-family: 'Roboto', sans-serif;font-size: 10pt; font-weight: 500; color: #0000FF; }
   td.header {font-family: 'Roboto', sans-serif; background: #FCC556; font-size: 10pt; font-weight: bold; color: #000000;}
   td.plainheader {font-family: 'Roboto', sans-serif; background: #FCC556; font-family: tahoma; font-size: 24pt; font-weight: bold; color: #000000;}
   td.headerbg {font-family: 'Roboto', sans-serif; background: #FCC556; font-family: tahoma; font-size: 8pt; font-weight: bold; color: #000000;}
   tr.row1{font-family: 'Roboto', sans-serif;background: #F8F8F8;}
   tr.row2{font-family: 'Roboto', sans-serif;background: #E7E7E7;}
   tr.teamcolor{font-family: 'Roboto', sans-serif;background: #FCC556; color: #000000;}
   td.teamheader {font-family: 'Roboto', sans-serif;background: #FCC556;  font-family: tahoma; font-size: 24pt; font-weight: bold; color: #000000;}
   td.teamheader2 {font-family: 'Roboto', sans-serif;background: #FCC556;  font-family: tahoma; font-size: 10pt; font-weight: bold; color: #000000;}
   td.tableheader {font-family: 'Roboto', sans-serif; font-size: 14pt; font-weight: bold; color: #000000;}
   td.newheader {font-family: 'Dosis', serif; font-size: 24pt; font-weight: bold; color: #000000;}
